$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss';
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';

body {
  background-color: rgb(52, 73, 94);
  font-family: 'VT323', ;
  text-align: center;
}

#loading-screen {
  border: 1px solid white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

#thinking-face {
  margin-top: 20%;
}

h1 {
  font-size: 7rem;
  margin: 0;
  position: absolute;
  color : #25ade9;
  top: 10%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

#game-type-message {
  margin: 0;
  position: absolute;
  color : #FFFFFF;
  top: 20%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

#game-type-choice-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.game-type-choice {
  border: 2;
  border-style: solid;;
  border-color: white;
  border-radius: 5px;
  padding: 2em;
  margin-left: 1em;
  font-size: 24px;
  background-color: rgba(255,255,255,0);
  color: white;
}

.game-type-choice:hover {
  background-color: rgba(255,255,255,0.4);
  color: white;
}

#game-over-banner {
  display: flex;
  align-items: center;
  background: rgb(52, 73, 94);;
  color: white;
  justify-content: center;
  font-size: 5em;
  margin: 0;
  position: absolute;
  top: 20%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: 60%;
  text-align: center;
}

.filled-space {
  font-size: 5em;
}

.board-space {
  padding: 0;
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0);
}

.board-space:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.board-space:focus {
  outline: 0;
}

#game-board {
  color: white;
  margin: 0;
  border-collapse: collapse;
  position: absolute;
  top: 55%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

table td {
  border: 5px solid white;
  width: 12rem;
  height: 12rem;
}

table tr td  {
  border-top: 0;
}

table tr:last-child td {
  border-bottom: 0;
}

table tr td:first-child {
  border-left: 0;
}

table tr td:last-child {
  border-right: 0;
}

#start-new-game {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
